body{
    font-family: 'Roboto' , sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position:fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #3a4468;
    transition: all .5s ease;
}

.sidebar-header{
    display: flex;
}

.sidebar-header img{
    padding: 10px;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #3a4468;
    user-select: none;
    padding-left: 10px;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
    background: #f3c93e;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
    background: #3a4468;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~.sidebar{
    left: 0;
}
#check:checked ~label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  
}
#check:checked ~label #cancel{
   left: 195px;
     background: #f3c93e;
    
}
#check:checked ~section{
    margin-left: 250px;
     
}
section{
   background-color:#c8c8c8;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}

.slids{
    margin-left: 300px;
}

.slids .watch-style{
    background: #0a5275;
    color: white;
    width: 140px;
    padding: 20px 20px;
    margin-top: 30px;
    margin-left: 100px;
    display: inline-table;
    border-radius: 5px;
}
.slids .watch-style:hover{
    background: #f3c93e;
    transition: .4s;
}
.slids .watch-style:hover h2{
    color: #0a5275;
}
.slids .watch-style:hover h3{
    color: #0a5275;
}
.slids .watch-style .h3_{
    color: white;
    text-align: center;
}
.slids .watch-style .watch-style-2{
    margin-top: 10px;
}

















